{% load static %}

<style>
  .page-sidebar li.active {
    background-color: #d0cfcf;
    border-radius: 10px;
  }
</style>

<div class="page-sidebar">
  <ul class="list-unstyled accordion-menu">
    <li class="sidebar-title">
      Input
    </li>
    <li class="{% if request.path == request.build_absolute_uri|slice:":-1" %}active{% endif %}">
      <a href="{% url 'inputdatananas' %}">
          <i data-feather="edit"></i>Input Data Nanas
      </a>
    </li>

    <li class="sidebar-title">
      Output
    </li>
    <li class="{% if request.path == request.build_absolute_uri|slice:":-1" %}active{% endif %}">
      <a href="{% url 'hasilklasifikasi' %}">
          <i data-feather="edit"></i>Hasil Klasifikasi
      </a>
    </li>
    <li class="{% if request.path == request.build_absolute_uri|slice:":-1" %}active{% endif %}">
      <a href="{% url 'riwayatklasifikasi' %}">
          <i data-feather="edit"></i>Riwayat Klasifikasi
      </a>
    </li>
  </ul>
</div>
