<!-- input_datananas.html -->

{% extends "layouts/base.html" %}

{% block title %}
Riwayat Klasifikasi Buah Nanas
{% endblock title %}

{% block contentchild %}
<div class="page-content">
  <div class="main-wrapper">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">RIWAYAT KLASIFIKASI NANAS</h5>

            <!-- Menampilkan Pesan -->
            {% if messages %}
            <div class="alert alert-dismissible fade show" role="alert">
              {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
              {% endfor %}
            </div>
            {% endif %}

            <!-- Tabel Data Nanas -->
            <table id="zero-conf" class="display" style="width: 100%">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Red</th>
                  <th>Green</th>
                  <th>Blue</th>
                  <th>Brix</th>
                  <th>Label</th>
                  <th>Gambar</th>
                </tr>
              </thead>
              <tbody>
                {% for data in data_nanas %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ data.red }}</td>
                  <td>{{ data.green }}</td>
                  <td>{{ data.blue }}</td>
                  <td>{{ data.brix }}</td>
                  <td>{{ data.label }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td>1</td>
                    <td>140</td>
                    <td>130</td>
                    <td>130</td>
                    <td>15.7</td>
                    <td>Tinggi</td>
                    <td>Gambar</td>
                  </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>No</th>
                  <th>Sample</th>
                  <th>Red</th>
                  <th>Green</th>
                  <th>Blue</th>
                  <th>Brix</th>
                  <th>Label</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 
{% endblock %}