<!-- input_datananas.html -->

{% extends "layouts/base.html" %}

{% block title %}
Riwayat Klasifikasi Buah Nanas
{% endblock title %}

{% block contentchild %}
{% load static %}
<div class="page-content">
  <div class="main-wrapper">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">RIWAYAT KLASIFIKASI NANAS</h5>

            <!-- Tabel Riwayat Klasifikasi -->
            <table id="zero-conf" class="display" style="width: 100%">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Red</th>
                  <th>Green</th>
                  <th>Blue</th>
                  <th>Brix</th>
                  <th>Label</th>
                  <th>Gambar</th>
                  <th>Waktu</th>
                </tr>
              </thead>
              <tbody>
                {% for data in riwayat_nanas %}
                <tr>
                  <td>{{ forloop.counter }}</td> <!-- Menampilkan nomor urut -->
                  <td>{{ data.red }}</td>
                  <td>{{ data.green }}</td>
                  <td>{{ data.blue }}</td>
                  <td>{{ data.brix }}</td>
                  <td>{{ data.label }}</td>
                  <td>
                    {% if data.gambar %}
                      <img src="{% static 'data_nanas2/'|add:data.gambar %}" alt="Gambar Nanas" style="max-width: 100px; height: auto; border: 1px solid #ddd;">
                    {% else %}
                      Tidak ada gambar
                    {% endif %}
                  </td>
                  <td>{{ data.created_at|date:"d-m-Y H:i:s" }}</td> <!-- Format tanggal -->
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <th>No</th>
                  <th>Red</th>
                  <th>Green</th>
                  <th>Blue</th>
                  <th>Brix</th>
                  <th>Label</th>
                  <th>Gambar</th>
                  <th>Waktu</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 
{% endblock %}